.header {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.header .nav {
  max-width: 570px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #fff;
}

.nav button {
  background: transparent;
  border: none;
  cursor: pointer;
}
