.itemsList ul {
  margin: 0;
  padding: 0;
}

.itemsList li {
  margin: 0;
  padding: 8px 24px;
  gap: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e4f1;
}

li:hover .itemClose {
  background-image: url(../../assets/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.darkList {
  border-bottom: 1px solid #393a4b !important;
}

.labelDiv {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.itemLabel {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #494c6b;
  word-break: break-word;
  padding-right: 2rem;
}

.itemClose {
  display: none;
}

.darkItemLabel {
  color: #c8cbe7;
}

.doneTodo {
  text-decoration: line-through;
  color: #d1d2da !important;
}

@media (max-width: 600px) {
  li .itemClose {
    background-image: url(../../assets/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .itemLabel {
    font-size: 14px;
    line-height: 14px;
  }
}
