body {
  background: url(./assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.dark {
  background: url(./assets/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

@media (max-width: 600px) {
  body {
    background: url(./assets/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
  }

  .dark {
    background: url(./assets/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    background-color: #000;
  }
}
