* {
  box-sizing: border-box;
}
@font-face {
  font-family: "josefin-sans";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "josefin-sans-bold";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

html {
  font-family: "josefin-sans", sans-serif;
}

body {
  background: url(./assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
